.card-feature-content {
    display: flex;
}

.card-feature-content i {
    width: 70px;
    height: 70px;
    font-size: 30px;
    background-color: black;
    border-radius: 50px;
    margin-right: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-feature-content .card-feature-title {
    padding: 0 0 4px 0;
}

.card-feature-content .card-feature-title h3,
.card-feature-content .card-feature-title p
{
    margin: 0;
}

.card-feature {
    transition: 0.4s;
}

.card-feature:hover {
    transform: scale(1.02, 1.05) ;
}

