body {
    color: #fff;
}

#cards .card-staff .card-staff-header {
    color: #c7af8b;
    letter-spacing: 1px;
    background-color: transparent;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    padding: 12px 20px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

#cards .card-staff .card-staff-header input {
    color: #c7af8b;
    width: 75%;
}

#cards .card-staff .card-staff-body .contact {
    padding: 8px 20px 10px;
}

#cards .card-staff .card-staff-body .contact .phone {
    font-size: 24px;
    margin-bottom: 4px;
}

#cards .card-staff .card-staff-body .user,
#cards .card-staff .card-staff-body .action {
    padding: 0 15px 10px;
}

.avatar {
    width: 3.25rem;
    border-radius: 50%;
}

#cards .card-staff .card-staff-body .circle {
    border: 3px solid #28a745;
    border-radius: 50%;
    margin-right: 0.75rem;
    padding: 0.35rem;
}

p, h1, h2, h3, h4, h5 {margin: 0; padding: 0;}



th, td {color: white;}

#example_length {
    color: wheat;
}

#example_length select{
    color: white;
    background: #191C24;
}

#example_filter {
    color: wheat !important;
}

#example_filter input {
    color: wheat !important;
}

#example_paginate {
    color: wheat !important;
}

#example_info {
    color: wheat !important;
}

.select {
    border-color: #c7af8b;
}